@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #userDropdown {
    position: absolute !important;
    height: max-content;
    inset: 0 !important;
    margin: 4rem 10px 0 auto !important;
    transform: translate(0) !important;
  }
}
