@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #userDropdown {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(26rem, 54px) !important;
  }
}
